[submodule "system-design-primer"]
	path = system-design-primer
	url = https://github.com/sali98/system-design-primer
[submodule "Remote_Access_Library"]
	path = Remote_Access_Library
	url = https://github.com/sali98/Remote_Access_Library
[submodule "winfsp"]
	path = winfsp
	url = https://github.com/sali98/winfsp
